#Font render
#public-f net.minecraft.client.gui.Font$StringRenderOutput
#public-f net.minecraft.client.gui.Font$StringRenderOutput *
#public-f net.minecraft.client.gui.Font$StringRenderOutput *()

#Camera
public-f net.minecraft.client.Camera setPosition(DDD)V
public-f net.minecraft.client.Camera setRotation(FF)V

#Render
public net.minecraft.client.particle.ParticleEngine spriteSets
public net.minecraft.client.particle.ParticleEngine$MutableSpriteSet
public net.minecraft.client.particle.ParticleEngine$MutableSpriteSet sprites

#Armor
public net.minecraft.world.inventory.ArmorSlot