#Font render
#public-f net.minecraft.client.gui.Font$StringRenderOutput
#public-f net.minecraft.client.gui.Font$StringRenderOutput *
#public-f net.minecraft.client.gui.Font$StringRenderOutput *()
#Camera
public-f net.minecraft.client.Camera *()
#Armor
public net.minecraft.world.inventory.ArmorSlot