#Font render
#public-f net.minecraft.client.gui.Font$StringRenderOutput
#public-f net.minecraft.client.gui.Font$StringRenderOutput *
#public-f net.minecraft.client.gui.Font$StringRenderOutput *()
#Camera
public-f net.minecraft.client.Camera setPosition(DDD)V
public-f net.minecraft.client.Camera setRotation(FF)V
#Armor
public net.minecraft.world.inventory.ArmorSlot